.circle{
    width: 15px; /* Adjust the width and height as needed */
    height: 15px;
    border-radius: 50%; /* Makes the div circular */
    border: none;
    margin: 0px 2.5px 0px 2.5px;
}
.windowButtons:hover #closeButton{
    background-color: red; 
}
.windowButtons:hover #resizeButton{
    background-color: yellow;
}
.windowButtons:hover #fScrButton{
    background-color: lime;
}
.windowButtons{
    display: inline;
}
.toggleSidebar{
    background:none;
    border: none;
    position: relative;
    top:7.49999994039535515px;
}
.toggleSidebar img{
    width:15px;
}