#topBar, #topBar *{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
#windowButtons:hover #closeButton{
    background-color: red; 
}
#windowButtons:hover #resizeButton{
    background-color: yellow;
}
#windowButtons:hover #fScrButton{
    background-color: lime;
}
.circle{
    width: 1.3vw;
    height: 1.3vw;
    border-radius: 10vw;
    border-width: 0;
    opacity: 0.6;
}
.iconButton{
    height: 1.7vw;
    background: none;
    border-width: 0;
}
.iconButton:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
img{
    height:100%;
    opacity: 0.6;
}

button{
    cursor: pointer;
}
#reloadButton img{
    height: 115%;
}
@media screen and (max-width: 800px) {
    .iconButton{
        height:3vw;
    }
    .circle{
        width:3vw;
        height:3vw;
    }
}
#rightTopBar{
    margin-right:3px;
}
#urlInput{
    margin-top: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border:none;
    padding:10px;
    border-radius: 10px;
}
#textBox{
    width:80%;
}
#urlInput::placeholder{
    color:black;
}