<div id="topBar">
    <div id="leftTopBar">
        <div id="windowButtons">
            <button class="circle" id="closeButton"></button>
            <button class="circle" id="resizeButton"></button>
            <button class="circle" id="fScrButton"></button>
        </div>
        <button id="toggleSidebar" class="iconButton">
            <img src="/assets/sidebar.leading.png">
        </button> 
    </div>
    <div id="rightTopBar">
        <div id="forwardBackwardButton">
            <button id="backwardButton" class="iconButton">
                <img src="/assets/arrow.backward.png">
            </button>
            <button id="forwardButton" class="iconButton">
                <img src="/assets/arrow.forward.png">
            </button>
        </div>
        <button id="reloadButton" class="iconButton">
            <img src="/assets/arrow.clockwise.png">
        </button>
    </div>
</div>