<div id="topBar">
    <div id="leftTopBar">
        <div id="windowButtons">
            <button class="circle" id="closeButton"></button>
            <button class="circle" id="resizeButton"></button>
            <button class="circle" id="fScrButton"></button>
        </div>
        <button id="toggleSidebar" class="iconButton"><img src="https://phyotp.github.io/arcOnlineAssets/sidebar.leading.png"></button> <!--attribute <a href="https://www.flaticon.com/free-icons/sidebar" title="sidebar icons">Sidebar icons created by Royyan Wijaya - Flaticon</a>-->
    </div>
    <div id="rightTopBar">
        <div id="forwardBackwardButton">
            <button id="backwardButton" class="iconButton"><img src="https://phyotp.github.io/arcOnlineAssets/arrow.backward.png"></button>
            <button id="forwardButton" class="iconButton"><img src="https://phyotp.github.io/arcOnlineAssets/arrow.forward.png"></button>
        </div>
        <button id="reloadButton" class="iconButton"><img src="https://phyotp.github.io/arcOnlineAssets/arrow.clockwise.png"></button>
    </div>
</div>